.darkTheme {
  --primaryColor: #232323;
  --primaryColorSub: #424242;
  --secondaryColor: orange;
  --secondaryColorSub: #ff8000;
}

.lightTheme {
  --primaryColor: #f2f2f2;
  --primaryColorSub: gray;
  --secondaryColor: orange;
  --secondaryColorSub: #ff8000;
}

.main {
  background-color: var(--primaryColor);
  transition: background-color 1s;
}