.darkTheme {
  --primaryColor: #232323;
  --primaryColorSub: #424242;
  --secondaryColor: orange;
  --secondaryColorSub: #FB6A01;
  --fontColorMain: #FFFFFF;
}

.lightTheme {
  --primaryColor: #f2f2f2;
  --primaryColorSub: gray;
  --secondaryColor: hsl(190, 81%, 67%);
  --secondaryColorSub: hsl(190, 81%, 67%);
  --fontColorMain: #000000;
}

.main {
  background-color: var(--primaryColor);
  transition: background-color 1s;
}